name: Check if a Docker image can be built

on:
  push:
    branches: [ master ]
  pull_request:

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6.0.2

    - name: Build the Docker image
      env:
        # @see https://testdriven.io/blog/faster-ci-builds-with-docker-cache/
        CACHE_IMAGE: ghcr.io/pigs-will-fly/docker-python
      run: |
        docker pull $CACHE_IMAGE
        docker build . \
          --cache-from $CACHE_IMAGE \
          --tag ${{ github.repository }}

    - name: Show details
      run: |
        docker images
        docker run --rm ${{ github.repository }} pip list
